{% extends "main_mini.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load staticfiles %}

{% get_providers as socialaccount_providers %}

{% block meta_block %}
    <title>Регистрация — Yoweekend.ru</title>
{% endblock %}

{% block content %}

    <div class="login-box">
        <div class="register-logo">
            <a href="/"><img src='{% static 'img/logo.png' %}'></a>
        </div>
        <div class="login-box-body">
<p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
{{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>
            <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <div class="form-group has-feedback {% if form.username.errors %} has-error {% endif %}">
                    {{ form.username }}
                    {% if form.username.errors %}
                        <p class="help-block help-block-error">{{ form.username.errors|first }}</p>
                    {% endif %}
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback {% if form.email.errors %} has-error {% endif %}">
                    {{ form.email }}
                    {% if form.email.errors %}
                        <p class="help-block help-block-error">{{ form.email.errors|first }}</p>
                    {% endif %}
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-xs-9 pull-right">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Зарегистрироваться</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <!-- /.social-auth-links -->
            <a href="/">Вернуться на сайт</a><br>
            <a href="{{ login_url }}" class="text-center">Я уже зарегистрирован</a>

        </div>
        <!-- /.login-box-body -->
    </div>

{% endblock %}

