{% extends "main_mini.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load staticfiles %}

{% block meta_block %}
    <title>Авторизация — Yoweekend.ru</title>
{% endblock %}

{% block content %}
<div class="login-box">
    <div class="register-logo">
        <a href="/"><img src="{% static 'img/logo.png'%}" /></a>
    </div>
    <div class="login-box-body">

{% get_providers as socialaccount_providers %}

        <form class="login" id="login" method="post" action="{% url 'account_login' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <div class="form-group has-feedback">
                {{ form.login }}<span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback {% if form.errors %} has-error {% endif %}">
                {{ form.password }}
                {% if form.non_field_errors %}
                    <p class="help-block help-block-error">{{ form.non_field_errors|first}}</p>
                {% endif %}
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label for="{{ form.remember.id_for_label }}">
                            {{ form.remember }}
                            {{ form.remember.label }}
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Войти</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <div class="social-auth-links text-center">
            <a href="{% provider_login_url "vk" method="oauth2" %}" class="btn btn-block btn-social btn-vk btn-flat"><i class="fa fa-vk"></i> Войти с помощью VK</a>
        </div>
        <!-- /.social-auth-links -->
        <a href="/">Вернуться на сайт</a><br>
        <a href="{% url 'account_reset_password' %}">Забыли пароль?</a><br>
        <a href="{{ signup_url }}" class="text-center">Зарегистрироваться</a>
    </div>
    <!-- /.login-box-body -->
</div>
{% endblock %}
