{% extends "main_mini.html" %}

{% load i18n %}
{% load staticfiles %}
{% block meta_block %}
    <title>Восстановление пароля — Yoweekend.ru</title>
{% endblock %}

{% block content %}
    <div class="login-box">
        <div class="register-logo">
            <a href="/"><img src='{% static 'img/logo.png' %}'></a>
        </div>
        <div class="login-box-body">
            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <div class="callout callout-warning">
                    <h4><i class="fa fa-warning"></i> {% trans "Bad Token" %}</h4>
                    <p>Ссылка на восстановление пароля не верная. Возможно вы ее уже использователи. Перейдите снова <a href="{{ passwd_reset_url }}">на форму сброса пароля</a>.</p>
                </div>
            {% else %}
                {% if form %}
                    <form method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                        <div class="form-group has-feedback {% if form.password1.errors %} has-error {% endif %}">
                            {{ form.password1 }}
                            {% if form.password1.errors %}
                                <p class="help-block help-block-error">{{ form.password1.errors|first }}</p>
                            {% endif %}
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback {% if form.password2.errors %} has-error {% endif %}">
                            {{ form.password2 }}
                            {% if form.password2.errors %}
                                <p class="help-block help-block-error">{{ form.password2.errors|first }}</p>
                            {% endif %}
                            <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                        </div>
                        <div class="row">
                            <!-- /.col -->
                            <div class="col-xs-9 pull-right">
                                <button type="submit"
                                        class="btn btn-primary btn-block btn-flat">{% trans 'change password' %}</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>
                {% else %}
                    <div class="callout callout-info">
                        <h4><i class="fa fa-info"></i> {% trans "Note" %}</h4>
                        <p>{% trans 'Your password is now changed.' %}</p>
                    </div>
                {% endif %}
            {% endif %}
            <a href="/">Вернуться на сайт</a><br>
            <a href="{% url 'account_login' %}" class="text-center">Перейти на страницу входа</a>
        </div>
        <!-- /.login-box-body -->
    </div>
{% endblock %}
