{% extends "main_mini.html" %}

{% load i18n %}
{% load staticfiles %}

{% block meta_block %}
    <title>Восстановление пароля — Yoweekend.ru</title>
{% endblock %}

{% block content %}
    <div class="login-box">
        <div class="register-logo">
            <a href="/"><img src='{% static 'img/logo.png' %}'></a>
        </div>
        <div class="login-box-body">
            <div class="callout callout-info">
                <h4><i class="fa fa-info"></i> {% trans "Note" %}</h4>
                <p>{% trans 'Your password is now changed.' %}</p>
            </div>
            <a href="/">Вернуться на сайт</a><br>
            <a href="{% url 'account_login' %}" class="text-center">Перейти на страницу входа</a>
        </div>
        <!-- /.login-box-body -->
    </div>
{% endblock %}
