{% extends "main_mini.html" %}

{% load i18n %}
{% load account %}
{% load staticfiles %}

{% block meta_block %}
    <title>Восстановление пароля — Yoweekend.ru</title>
{% endblock %}

{% block content %}
    <div class="login-box">
        <div class="register-logo">
            <a href="/"><img src='{% static 'img/logo.png' %}'></a>
        </div>
        <div class="login-box-body">
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
            <!-- /.social-auth-links -->
            <a href="/">Вернуться на сайт</a><br>
        </div>
        <!-- /.login-box-body -->
    </div>
{% endblock %}
