{% extends "main_mini.html" %}

{% load i18n %}
{% load account %}
{% load staticfiles %}


{% block meta_block %}
    <title>Восстановление пароля — Yoweekend.ru</title>
{% endblock %}

{% block content %}

    <div class="login-box">
        <div class="register-logo">
            <a href="/"><img src='{% static 'img/logo.png' %}'></a>
        </div>
        <div class="login-box-body">
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                <div class="form-group has-feedback {% if form.email.errors %} has-error {% endif %}">
                    {{ form.email }}
                    {% if form.email.errors %}
                        <p class="help-block help-block-error">{{ form.email.errors|first }}</p>
                    {% endif %}
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-xs-9 pull-right">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Сбросить пароль</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <!-- /.social-auth-links -->
            <a href="/">Вернуться на сайт</a><br>
            <a href="{{ login_url }}" class="text-center">Я вспомнил пароль</a>

        </div>
        <!-- /.login-box-body -->
    </div>
{% endblock %}
