{% extends "main.html" %}

{% load i18n %}

{% block meta_block %}
    <title>Изменить пароль - Yoweekend.ru</title>
{% endblock %}

{% block content %}
    {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
    {% endif %}
    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        <div class="form-group has-feedback {% if form.password1.errors %} has-error {% endif %}">
            {{ form.password1 }}
            {% if form.password1.errors %}
                <p class="help-block help-block-error">{{ form.password1.errors|first }}</p>
            {% endif %}
        </div>
        <div class="form-group has-feedback {% if form.password2.errors %} has-error {% endif %}">
            {{ form.password2 }}
            {% if form.password2.errors %}
                <p class="help-block help-block-error">{{ form.password2.errors|first }}</p>
            {% endif %}
        </div>
        <div class="form-group col-lg-2 col-md-2 col-sm-2 col-xs-6" style="padding-left: 0; ">
            <button type="submit" class="btn btn-block btn-primary btn-flat">Сохранить</button>
        </div>
        </div>
    </form>
{% endblock %}
