{% load staticfiles %}
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full-info-modal">
    <img class="img-responsive" src="{{ data.image_preview }}">
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full-info-modal">
    <div class="caption full-info-modal-caption">
        <span class="icon-panel">
            <a class="btn btn-default" href="https://vk.com/share.php?url=http://{{ request.META.SERVER_NAME }}/{{ data.city.alias }}/event_{{ data.id }}&title={{ data.name }}&image=http://{{ request.META.SERVER_NAME }}{% static data.image_original %}&noparse=true" target="_blank">
                Рассказать друзьям <i class="fa fa-share-alt"></i>
            </a>
        </span>
        {% if data.link %}
            <span class="link"><a href="{{ data.link }}" target="_blank">{{ data.link|truncatechars:30 }}</a></span>
        {% endif %}
        <span class="datetime">
             <strong class="strong-underline">Расписение работы:</strong><br />
       		{{ data.timing }}
        </span>
    </div>
</div>
<div class="clear"></div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 full-info-modal-intro">
    <span class="intro">{{ text|safe }}</span>
</div>
<div class="clear"></div>
