{% load staticfiles %}

<div class="card col-lg-3 col-md-4 col-sm-4 col-xs-6">
    <div class="thumbnail">
        <div class="image-preview">
            <img src="{{ p.image_preview }}" data-full-img="{{ p.image_original }}" data-address="{{ p.city.name }}, {{ p.address }}" data-id="{{ p.id }}">
            {% if p.address  %}
                <span class="address"><a href="#" class="openMap" data-address="{{ p.city.name }}, {{ p.address }}" onclick="openMap($(this).attr('data-address'));return false;"><i class="fa fa-map-marker address-marker"></i><span class="address-text">{{ p.address }}</span></a></span>
            {% endif %}
        </div>
        <div class="caption">
            <span class="icon-panel">
                <a class="share-icon" href="https://vk.com/share.php?url=http://{{ request.META.SERVER_NAME }}/{{ p.city.alias }}/event_{{ p.id }}&title={{ p.name }}&image=http://{{ request.META.SERVER_NAME }}{{ p.image_original }}&noparse=true" target="_blank">
                    <i class="fa fa-share-alt"></i>
                </a>
            </span>
            <span class="name"><a href="/places/place_{{ p.id }}/" class="open-event-window" data-id="{{ p.id }}" onclick="showFullInfo($(this).attr('data-id'), '/places/get-full-info-modal/');return false;">{{ p.name|truncatechars:60 }}</a></span>
            {% if p.link %}
                <span class="link"><a href="{{ p.link }}" target="_blank">{{ p.link|truncatechars:30 }}</a></span>
            {% endif %}
            <span class="money"><strong class="strong-underline">Режим работы:</strong>
                {% if p.timing == None %}
                    Не указан
                {% else %}
                    {{ p.timing }}
                {% endif %}
            </span>
            <br>
            <span class="intro"><a href="#" class="showFullInfo" data-id="{{ p.id }}" onclick="showFullInfo($(this).attr('data-id'), '/places/get-full-info/');return false;">{{ p.description|truncatechars:100 }}</a></span>
        </div>
    </div>
</div>