{% extends 'main.html' %}

{% load staticfiles %}
{% load common %}
{% load eventstags %}
{% load placecategoriestags %}

{% block meta_block %}
    <title>{{ title }} - Yoweekend.ru</title>
    <style>
        .sidebar .slimScrollDiv { display: block !important; }
    </style>
{% endblock %}

{% block users_scripts %}
    <script type="text/javascript" src="{% static 'libs/jquery-file-upload/js/vendor/jquery.ui.widget.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/jquery-file-upload/js/jquery.iframe-transport.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/jquery-file-upload/js/jquery.fileupload.js' %}"></script>
    <link rel="stylesheet" href="{% static 'libs/jquery-file-upload/css/jquery.fileupload.css' %}">
    <script type="text/javascript" src="{% static 'js/add_place.js' %}?v=0001"></script>
{% endblock %}

{% block sidebar %}
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu sidebar-category-links places" data-widget="tree">
        <li class="header">Места</li>
        <!-- Optionally, you can add icons to the links -->
        <li><a href="/places/"><span>Все категории</span></a></li>
        {% sidebarlist request %}
    </ul>
    <!-- /.sidebar-menu -->
{% endblock %}

{% block content %}
    {% if flash_message %}
        <div class="callout callout-{{ flash_message.class }}" style="">
            {{ flash_message.message }}
        </div>
    {% endif %}
    {% if messages %}
        {% for message in messages %}
            {% if message.extra_tags == 'SAVE_SUCCESS' %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
<form method="post" id="add_event_form">
    {% csrf_token %}
    <div class="form-group">
        <label>Фото</label>
        <div class="input-group">
            <span class="btn btn-success fileinput-button">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Выбрать файл</span>
                <!-- The file input field used as target for the file upload widget -->
                <input type="file" id="event-image" name="place_image" accept="image/*" data-url="/places/upload_image/">
            </span>
            <div class="img_preview">
                <img class="img-responsive object-image" src="{{ form.image_preview.value }}" data-real-width="{{ form.image_preview.value|getimagesize:'width' }}" data-real-height="{{ form.image_preview.value|getimagesize:'height' }}">
            </div>
        </div>
    </div>
    <div class="form-group {% if form.image_preview.errors %} has-error {% endif %}">
        {{ form.image_preview }}
        {% if form.image_preview.errors %}
            <p class="help-block help-block-error">{{ form.image_preview.errors|first }}</p>
        {% endif %}
    </div>
    <div class="form-group {% if form.image_original.errors %} has-error {% endif %}">
        {{ form.image_original }}
        {% if form.image_original.errors %}
            <p class="help-block help-block-error">{{ form.image_original.errors|first }}</p>
        {% endif %}
    </div>
    <div class="form-group {% if form.x1.errors %} has-error {% endif %}">
        {{ form.x1 }}
        {% if form.x1.errors %}
            <p class="help-block help-block-error">{{ form.x1.errors|first }}</p>
        {% endif %}
    </div>
    <div class="form-group {% if form.x2.errors %} has-error {% endif %}">
        {{ form.x2 }}
        {% if form.x2.errors %}
            <p class="help-block help-block-error">{{ form.x2.errors|first }}</p>
        {% endif %}
    </div>
    <div class="form-group {% if form.y1.errors %} has-error {% endif %}">
        {{ form.y1 }}
        {% if form.y1.errors %}
            <p class="help-block help-block-error">{{ form.y1.errors|first }}</p>
        {% endif %}
    </div>
    <div class="form-group {% if form.y2.errors %} has-error {% endif %}">
        {{ form.y2 }}
        {% if form.y2.errors %}
            <p class="help-block help-block-error">{{ form.y2.errors|first }}</p>
        {% endif %}
    </div>
    <div class="form-group {% if form.link.errors %} has-error {% endif %}">
        <label class="control-label" for="{{ form.link.id_for_label }}">{{ form.link.label }}</label>
        {{ form.link }}
        <div class="clear"></div>
        {% if form.link.errors %}
            <p class="help-block help-block-error">{{ form.link.errors|first }}</p>
        {% endif %}
    </div>
    <div class="form-group {% if form.name.errors %} has-error {% endif %}">
        <label class="control-label" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
        {{ form.name }}
        {% if form.name.errors %}
            <p class="help-block help-block-error">{{ form.name.errors|first }}</p>
        {% endif %}
    </div>
    <div class="form-group {% if form.categories.errors %} has-error {% endif %}">
        <label class="control-label" for="{{ form.categories.id_for_label }}">{{ form.categories.label }}</label>
        {{ form.categories }}
        {% if form.categories.errors %}
            <p class="help-block help-block-error">{{ form.categories.errors|first }}</p>
        {% endif %}
        <a href="#" data-toggle="modal" data-target="#add-new-category">Если вы не нашли свою категорию, нажмите на эту ссылку</a>
    </div>
    <div class="form-group {% if form.city.errors %} has-error {% endif %}">
        <label class="control-label" for="{{ form.city.id_for_label }}">{{ form.city.label }}</label>
        {{ form.city }}
        {% if form.city.errors %}
            <p class="help-block help-block-error">{{ form.city.errors|first }}</p>
        {% endif %}
    </div>
    <div class="form-group {% if form.address.errors %} has-error {% endif %}">
        <label class="control-label" for="{{ form.address.id_for_label }}">{{ form.address.label }}</label>
        {{ form.address }}
        {% if form.address.errors %}
            <p class="help-block help-block-error">{{ form.address.errors|first }}</p>
        {% endif %}
    </div>
    <div class="form-group {% if form.timing.errors %} has-error {% endif %}">
        <label class="control-label" for="{{ form.timing.id_for_label }}">{{ form.timing.label }}</label>
        {{ form.timing }}
        {% if form.timing.errors %}
            <p class="help-block help-block-error">{{ form.timing.errors|first }}</p>
        {% endif %}
    </div>
    <div class="form-group">
        <label class="control-label" for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
        {{ form.description }}
    </div>
    <div class="form-group">
            <label class="draft-checkbox-label" for="{{ form.isDraft.id_for_label }}">
                {{ form.isDraft }}
                {{ form.isDraft.label }}
            </label>
        </div>
    <div class="form-group col-lg-2 col-md-2 col-sm-2 col-xs-6" style="padding-left: 0; ">
        <button type="submit" class="btn btn-block btn-primary btn-flat">Сохранить</button>
    </div>
</form>
<div class="modal fade in" id="add-new-category">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Запрос на добавление категории</h4>
            </div>
            <div class="modal-body">
                <div class="callout" style="display: none;">
                        <h4><i class="fa fa-info"></i></h4>
                        <span>dfgdfg</span>
                </div>
                <form>
                    <div class="form-group category-name required">
                        <label class="control-label" for="category-name">Введите название предлагаемой категории</label>
                        <input type="text" class="form-control">
                        <p class="help-block help-block-error"></p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-left" id="send-new-category">Отправить</button>
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
    <script type="text/javascript">
        window.onload = function (ev) {
                $('#event-image').fileupload({"maxFileSize":2000000,"dataType":"json","url":"/places/upload_image/"});
                $('#event-image').on('fileuploaddone', function(e, data) {
                                if(typeof(data.result.status) != undefined && data.result.status == false) {
                                    show_info_modal("Ошибка!", data.result.textError);
                                } else {
                                    $(".field-event-image_original").removeClass("has-error");
                                    $(".field-event-image_original p").empty();
                                    $("#id_image_original").val(data.result.url);
                                    $("#id_image_preview").val(data.result.thumbnailUrl);
                                    $(".object-image").imgAreaSelect( {remove: true} );
                                    $(".object-image").attr("src", data.result.thumbnailUrl).imgAreaSelect({
                                        handles: true,
                                        onSelectEnd: setImgCoordinates,
                                        onInit: setImgCoordinates,
                                        minWidth: 299,
                                        minHeight: 299,
                                        maxWidth: 300,
                                        maxHeight: 300,
                                        show: true,
                                        imageHeight: data.result.height,
                                        imageWidth: data.result.width,
                                        x1: 0,
                                        x2: 298,
                                        y1: 0,
                                        y2: 298,
                                    });
                                }
                            });
                $('#event-image').on('fileuploadfail', function(e, data) {
                    console.log(e);
                    console.log(data);
                    show_info_modal("Ошибка!", "В процессе загрузки файла произошла ошибка");
                });
        }
    </script>
{% endblock %}