{% extends 'main.html' %}
{% load staticfiles %}
{% load eventstags %}
{% load render_filter_form %}
{% load placecategoriestags %}

{% block meta_block %}
    <title>{{ meta_tags.title }}</title>
    <meta name="description" content="{{ meta_tags.description }}">
    <meta name="keywords" content="{{ meta_tags.keywords }}">
    <style>
        .sidebar .slimScrollDiv { display: block !important; }
    </style>
{% endblock %}

{% block users_scripts %}
    <script type="text/javascript" src="{% static 'js/smallpanel.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/morePlaceContent.js' %}?v=0004"></script>
{% endblock %}

{% block sidebar %}
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu sidebar-category-links places" data-widget="tree">
        <li class="header">Места</li>
        <!-- Optionally, you can add icons to the links -->
        <li><a href="/places/"><span>Все категории</span></a></li>
        {% sidebarlist request %}
    </ul>
    <!-- /.sidebar-menu -->
{% endblock %}

{% block content %}
    {% add_event_button request %}
    <div class="clear" style="clear: both"></div>
    {% include 'place/places.html' with category=category %}
    {% if place_info %}
            <div class="modal fade in" id="event_modal_page">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <a href="/places/"><button type="button" class="close" aria-label="Close">
                                    <span aria-hidden="true">×</span></button></a>
                            <h4 class="modal-title">{{ place_info.name }}</h4>
                        </div>
                        <div class="modal-body">
                            {% include 'place/_full_info_modal.html' with data=place_info text=place_info_text %}
                        </div>
                        <div class="modal-footer">
                            <a href="/places/"><button type="button" class="btn btn-default pull-left">Закрыть</button></a>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
    <script>
        window.onload = function() {
            $("#event_modal_page").modal('show');
            $("#event_modal_page").on('hidden.bs.modal', function(){
               window.location.href = '/placec/';
            });
        }
    </script>
    {% endif %}
{% endblock %}

{% block more_load_btn %}
    <div class="more-load-btn"><button class="btn btn-sm">Загрузить еще</button></div>
{% endblock %}
