{% load common %}
{% if from_ajax != True %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 date-label-area">
        <div class="date-label">
            {% if category == None %}
                Все категории
                <input type="hidden" name="place_category" value="None">
            {% else %}
                {{ category.name }}
                <input type="hidden" name="place_category" value="{{ category.alias }}">
            {% endif %}
        </div>
    </div>
{% endif %}
{% for p in places %}
    {% include 'place/_place.html' with p=p %}
{% endfor %}