{% extends 'main.html' %}

{% load placecategoriestags %}

{% block meta_block %}
    <title>Мои места — Yoweekend.ru</title>
    <style>
        .sidebar .slimScrollDiv { display: block !important; }
    </style>
{% endblock %}

{% block sidebar %}
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu sidebar-category-links places" data-widget="tree">
        <li class="header">Места</li>
        <!-- Optionally, you can add icons to the links -->
        <li><a href="/places/"><span>Все категории</span></a></li>
        {% sidebarlist request %}
    </ul>
    <!-- /.sidebar-menu -->
{% endblock %}

{% block content %}
<div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 add-event-not-register">
    <button type="button" class="btn btn-block btn-success btn-sm"
            onclick="window.location.href = '{% url 'add_place' %}'">
        <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Добавить место
    </button>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 isDraftLink">
    <label class='draft-checkbox-label'>
        {% if is_draft %}
            <input type="checkbox" class="minimal" checked > <span>Показать только черновики</span>
        {% else %}
            <input type="checkbox" class="minimal"> <span>Показать только черновики</span>
        {% endif %}
    </label>
</div>
<div class="clear" style="clear: both"></div>
    {% include 'place/places.html' %}
{% endblock %}