{% load l10n %}

<div class="additional-dates" style="display: {{ show }}">
{% for d in dates %}
<div class="additional-date">
	<span>{{ d.meeting_date|unlocalize  }} {{ d.time_begin }}</span><a href="#" onclick="removeAdditionDate(this); return false;"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Убрать</a>
	<input type="hidden" name="AdditionalDate__meeting_date" value="{{ d.meeting_date|unlocalize }}">
	<input type="hidden" name="AdditionalDate__time_begin" value="{{ d.time_begin }}">
</div>
{% endfor %}
</div>