{% if user_auth %}
    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 add-event-not-register">
        <button type="button" class="btn btn-block btn-success btn-sm" data-toggle="modal" data-target="#add-variants-dialog">
            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Добавить мероприятие/место
        </button>
    </div>
    <div class="modal fade in" id="add-variants-dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Выберите, что вы хотите добавить</h4>
                </div>
                <div class="modal-body">
                    <form action="/event/add/" id="change_add_form" method="GET">
                        <div class="form-group">
                        <div class="radio">
                            <label>
                                <input type="radio" checked name="variant" onclick="$('#change_add_form').attr('action', '/event/add/')">
                                Добавить мероприятие
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="variant" onclick="$('#change_add_form').attr('action', '/places/add/')">
                                Добавить место
                            </label>
                        </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal" onclick="window.location.href = $('#change_add_form').attr('action')">Добавить</button>
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
{% else %}
    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 add-event-not-register">
        <button type="button" class="btn btn-block btn-success btn-sm"
                onclick="show_info_modal('{{ argv.onclick_title }}', '{{ argv.onclick_message }}')">
            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Добавить мероприятие/мксто
        </button>
    </div>
{% endif %}