{% load staticfiles %}

<div class="card col-lg-3 col-md-4 col-sm-4 col-xs-6">
    <div class="thumbnail">
        <div class="image-preview">
            <img src="{{ e.image_preview }}" data-full-img="{{ e.image_original }}" data-address="{{ e.city.name }}, {{ e.address }}" data-id="{{ e.id }}">
            {% if e.address  %}
                <span class="address"><a href="#" class="openMap" data-address="{{ e.city.name }}, {{ e.address }}" onclick="openMap($(this).attr('data-address'));return false;"><i class="fa fa-map-marker address-marker"></i><span class="address-text">{{ e.address }}</span></a></span>
            {% endif %}
        </div>
        <div class="caption">
            <span class="icon-panel">
                <a class="share-icon" href="https://vk.com/share.php?url=http://{{ request.META.SERVER_NAME }}/{{ e.city.alias }}/event_{{ e.id }}&title={{ e.name }}&image=http://{{ request.META.SERVER_NAME }}{{ e.image_original }}&noparse=true" target="_blank">
                    <i class="fa fa-share-alt"></i>
                </a>
                <!--<a href="#" class="share-icon"><i class="fa fa-share-alt"></i></a>-->
            </span>
            <span class="name"><a href="/events/event_{{ e.id }}/" class="open-event-window" data-id="{{ e.id }}" onclick="showFullInfo($(this).attr('data-id'), '/ajax/get-full-info-modal/');return false;">{{ e.name|truncatechars:60 }}</a></span>
            {% if e.link %}
                <span class="link"><a href="{{ e.link }}" target="_blank">{{ e.link|truncatechars:30 }}</a></span>
            {% endif %}
            {% if e.no_time == False %}
                <span class="datetime">
                    <strong class="strong-underline">Время:</strong>
                    {{ e.time_begin }}
                </span>
            {% else %}
                <span class="datetime">
                    <strong class="strong-underline">Время:</strong>
                    Не указано
                </span>
            {% endif %}
            <span class="money"><strong class="strong-underline">Вход:</strong>
                {% if e.price == None %}
                    Стоимость не указана
                {% endif %}
                {% if e.price == 0 %}
                    Бесплатно
                {% endif %}
                {% if e.price and e.price != 0 %}
                    {{ e.price }}&nbsp;<i class="fa fa-rub" aria-hidden="true"></i>
                {% endif %}
            </span>
            <span class="intro"><a href="#" class="showFullInfo" data-id="{{ e.id }}" onclick="showFullInfo($(this).attr('data-id'), '/ajax/get-full-info/');return false;">{{ e.description|truncatechars:100 }}</a></span>
        </div>
    </div>
</div>

