{% load common %}
{% for e in events %}
    {% if date == None or date != e.meeting_date %}
        {% set date = e.meeting_date %}
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 date-label-area">
            <div class="date-label">{{ date }}</div>
        </div>
    {% endif %}
    {% include 'event/_event.html' with e=e %}
{% endfor %}
