{% extends 'main.html' %}

{% load staticfiles %}
{% load eventstags %}
{% load eventcategoriestags %}
{% load render_filter_form %}

{% block meta_block %}
    <title>{{ meta_tags.title }}</title>
    <meta name="description" content="{{ meta_tags.description }}">
    <meta name="keywords" content="{{ meta_tags.keywords }}">
{% endblock %}

{% block users_scripts %}
    <script type="text/javascript" src="{% static 'js/smallpanel.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moreEventContent.js' %}?v=0001"></script>
{% endblock %}

{% block sidebar %}
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu sidebar-category-links" data-widget="tree">
        <li class="header">Мероприятия</li>
        <!-- Optionally, you can add icons to the links -->
        <li><a href="/events/"><span>Все категории</span></a></li>
        {% sidebarlist request %}
    </ul>
    {% sidebar_filter_form request %}
    <!-- /.sidebar-menu -->
{% endblock %}

{% block content %}
    {% add_event_button request %}
    <div class="clear" style="clear: both"></div>
    {% active_filter_panel filter_form %}
    <input type="hidden" name="filter_data" value='{{ filter_form }}'>
    {% include 'event/events.html' %}
    {% if event_info %}
            <div class="modal fade in" id="event_modal_page">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <a href="/events/"><button type="button" class="close" aria-label="Close">
                                    <span aria-hidden="true">×</span></button></a>
                            <h4 class="modal-title">{{ event_info.name }}</h4>
                        </div>
                        <div class="modal-body">
                            {% include 'event/_full_info_modal.html' with data=event_info text=event_info_text %}
                        </div>
                        <div class="modal-footer">
                            <a href="/events/"><button type="button" class="btn btn-default pull-left">Закрыть</button></a>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
    <script>
        window.onload = function() {
            $("#event_modal_page").modal('show');
            $("#event_modal_page").on('hidden.bs.modal', function(){
               window.location.href = '/events/';
            });
        }
    </script>
    {% endif %}
{% endblock %}

{% block more_load_btn %}
    <div class="more-load-btn"><button class="btn btn-sm">Загрузить еще</button></div>
{% endblock %}
