{% extends 'main.html' %}
{% load eventcategoriestags %}
{% load render_filter_form %}

{% block meta_block %}
    <title>Мои мероприятия — Yoweekend.ru</title>
{% endblock %}

{% block sidebar %}
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu sidebar-category-links" data-widget="tree">
        <li class="header">Мероприятия</li>
        <!-- Optionally, you can add icons to the links -->
        <li><a href="/events/"><span>Все категории</span></a></li>
        {% sidebarlist request %}
    </ul>
    {% sidebar_filter_form request %}
    <!-- /.sidebar-menu -->
{% endblock %}

{% block content %}
    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 add-event-not-register">
        <button type="button" class="btn btn-block btn-success btn-sm"
                onclick="window.location.href = '{% url 'add_event' %}'">
            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Добавить мероприятие
        </button>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 isDraftLink">
        <label class='draft-checkbox-label'>
            {% if is_draft %}
                <input type="checkbox" class="minimal" checked> <span>Показать только черновики</span>
            {% else %}
                <input type="checkbox" class="minimal"> <span>Показать только черновики</span>
            {% endif %}
        </label>
    </div>
    <div class="clear" style="clear: both"></div>
    {% include 'event/events.html' %}
{% endblock %}