{% load account %}{% user_display user as user_display %}{% load i18n %}

Вас приветствует <a href="yoweekend.ru">YOWEEKEND.RU</a>!<br /><br />
Вы получили это письмо, потому что пользователь {{ user_display }} указал ваш e-mail для подключения к своему аккаунту.<br />
Чтобы подтвердить, перейдите по ссылке <a href="{{ activate_url }}">{{ activate_url }}</a>
<br /><br /><br />
Спасибо от сайта «yoweekend.ru!»
