{% if mode == 'Мероприятия' %}
    <li class="dropdown filter-menu">
        <!-- Menu toggle button -->
        <a href="#" data-toggle="modal" data-target="#modal-filter">
            <i class="fa fa-filter"></i>&nbsp;&nbsp;Фильтр
        </a>
    </li>
{% endif %}
<li class="dropdwn">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ mode }} <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="/events/">Мероприятия</a></li>
        <li><a href="/places/">Места</a></li>
    </ul>
</li>