{% load i18n %}
{% load account %}

{% user_display user as user_display %}

<div class="callout callout-info">
    <h4><i class="fa fa-info"></i> {% trans "Note" %}:</h4>
    <p>{% blocktrans %}you are already logged in as {{ user_display }}.{% endblocktrans %}</p>
</div>
