<ul class="dropdown-menu" role="menu">
    {% for city in cities %}
    		{% if city.default == True %}
        		<li><a href="http://{{ BASE_HOST }}">{{ city.name }}</a></li>
        	{% else %}
        		<li><a href="http://{{ city.alias }}.{{ BASE_HOST }}">{{ city.name }}</a></li>
        	{% endif %}
    {% endfor %}
</ul>