{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ meta_tags.title }}</title>
    <meta name="keywords" content="{{ meta_tags.keywords }}"/>
    <meta name="description" content="{{ meta_tags.description }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mainpage/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'mainpage/styles.css' %}"/>
</head>
<body>
<header>
    <div class="header-content" style="z-index: 3">
        <div class="inner">
            <h1 class="cursive">YOwekend.ru</h1>
            <h4>Выберите ваш город</h4>
            <hr class="light">
            <form class="form-inline" action="/" method="post">
                {% csrf_token %}
                {{ form.name }}
                <button type="submit" class="btn btn-primary btn-xl">К списку мероприятий <i
                        class="ion-android-arrow-forward"></i></button>
            </form>
        </div>
    </div>
</header>
<div class="overlay"></div>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
            try {
                w.yaCounter47022225 = new Ya.Metrika({
                    id: 47022225,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true,
                    webvisor: true
                });
            } catch (e) {
            }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () {
                n.parentNode.insertBefore(s, n);
            };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/47022225" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>