{% load staticfiles %}
{% load citytags %}
{% load eventcategoriestags %}
{% load render_filter_form %}
{% load common %}
<!DOCTYPE html>
<html lang="ru-RU">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta name="google-site-verification" content="7paHnYNYg0hoIRJze7JbbUSqfA4k3_IY7yLWeLM69Ys" />
        {% block meta_block %} {% endblock %}
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">
        <link rel="stylesheet" href="{% static 'libs/adminlte/bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'libs/adminlte/bower_components/font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'libs/adminlte/bower_components/Ionicons/css/ionicons.min.css' %}">
        <link rel="stylesheet" href="{% static 'libs/adminlte/dist/css/AdminLTE.css' %}">
        <link rel="stylesheet" href="{% static 'libs/adminlte/dist/css/skins/_all-skins.min.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
        <link rel="stylesheet" href="{% static 'libs/adminlte/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css' %}">
        <link rel="stylesheet" href="{% static 'libs/adminlte/plugins/timepicker/bootstrap-timepicker.min.css' %}">
        <link rel="stylesheet" href="{% static 'libs/adminlte/plugins/iCheck/all.css' %}">
        <link rel="stylesheet" href="{% static 'libs/adminlte/bower_components/select2/dist/css/select2.min.css' %}">
        <link rel="stylesheet" href="{% static 'libs/img-area-select/imgareaselect-deprecated.css' %}">
        <link rel="stylesheet" href="{% static 'libs/shadowbox/shadowbox.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}?v=0023">
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="skin-blue layout-top-nav sidebar-collapse">
        <div class="wrapper">
            <!-- Main Header -->
            <!-- HEADER -->
            <header class="main-header">
                <!-- Logo -->
                <a href="/" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><b>YO</b>weekend</span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg">
                        <img src="{% static 'img/logo.png'%}" />
                    </span>
                </a>
                <!-- Header Navbar -->
                <nav class="navbar navbar-static-top" role="navigation">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="container-fluid">
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;{% detect_current_city_name request %}<span class="caret"></span></a>
                                    {% citymenu %}
                                </li>
                                {% get_mode_menu %}
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                {% if user.is_authenticated %}
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Профиль <span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="{% url 'account_change_password' %}">Сменить пароль</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="{% url 'user_events' %}">Мои мероприятия</a></li>
                                            <li><a href="{% url 'user_places' %}">Мои места</a></li>
                                            <li><a href="{% url 'add_event' %}">Добавить мероприятие</a></li>
                                            <li><a href="{% url 'add_place' %}">Добавить место</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="#" data-toggle="modal" data-target="#donate-modal">Поддержка проекта</a></li>
                                            <li><a href="{% url 'account_logout' %}">Выйти</a></li>
                                        </ul>
                                    </li>
                                {% else %}
                                    <li>
                                        <a type="button" href="{% url 'account_login' %}">Войти</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                </nav>
            </header>
            <header class="main-header main-header-compact">
                <div class="container">
                    <a href="#" class="sidebar-toggle sidebar-toggle-compact" data-toggle="push-menu" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <a href="#" data-toggle="modal" data-target="#modal-filter" class="menu-element-compact">
                        <i class="fa fa-filter"></i>
                    </a>
                    <div class="date-label"></div>
                </div>
            </header>
            <!-- Left side column. contains the logo and sidebar -->
            <!-- END_HEADER -->
            <!-- SIDEBAR -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    {% block sidebar %}
                    {% endblock %}
                </section>
                <!-- /.sidebar -->
            </aside>
            <!-- END_SIDEBAR -->
            <!-- CONTENT -->
            <div class="content-wrapper" style="min-height: 600px;">
                <div class="container content-container">
                    {% block content %}{% endblock %}
                </div>
                {% block more_load_btn %} {% endblock %}
            </div>
            <!-- END_CONTENT -->
            <!-- FOOTER -->
            <footer class="main-footer">
                Если есть вопросы, то пишите на почту: <a href="mailto: support@yoweekend.ru">support@yoweekend.ru</a>
            </footer>
            <!-- END_FOOTER -->
        </div>
        <!-- MODALS -->
        {% modal_filter_form request %}

        <div class="modal fade in" id="info-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <div class="modal fade in" id="donate-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">Сказать спасибо</h4>
                    </div>
                    <div class="modal-body">
                        Проект разрабатывается и поддерживается полностью на энтузиазме с целью сделать мир немножечко лучше. <br />
                        <strong>Если вам понравился проект, то вы можете сказать свое "спасибо".</strong>
                        <br /><br />
                        <div class="payment-small">
                            <iframe src="https://money.yandex.ru/quickpay/button-widget?targets=%D0%A0%D0%B0%D0%B7%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D1%87%D0%B8%D0%BA%D1%83%20%D0%BD%D0%B0%20%D0%BF%D0%B5%D1%87%D0%B5%D0%BD%D1%8C%D0%B5&default-sum=50&button-text=11&any-card-payment-type=on&button-size=m&button-color=orange&successURL=http%3A%2F%2Fyoweekend.ru&quickpay=small&account=410013033407088&" width="184" height="36" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
                        </div>
                        <div class="payment-large">
                            <iframe src="https://money.yandex.ru/quickpay/shop-widget?writer=seller&targets=%D0%A0%D0%B0%D0%B7%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D1%87%D0%B8%D0%BA%D0%B0%D0%BC%20%D0%BD%D0%B0%20%D0%BF%D0%B5%D1%87%D0%B5%D0%BD%D1%8C%D0%B5&targets-hint=&default-sum=10&button-text=11&payment-type-choice=on&hint=&successURL=http%3A%2F%2Fyoweekend.ru&quickpay=shop&account=410013033407088" width="450" height="213" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- END_MODALS -->
        <div class="custom-load-layout">
            <img src="{% static 'img/ajax-loader.svg' %}" />
        </div>
        <a href="#" class="scrollup">Наверх</a>
        {% if request.META.SERVER_NAME == 'yoweekend.ru' %}
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter47022225 = new Ya.Metrika({
                            id:47022225,
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true,
                            webvisor:true
                        });
                    } catch(e) { }
                });

                var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = "https://mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/47022225" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
        {% endif %}
    </body>
    <script type="text/javascript" src="{% static '/libs/adminlte/bower_components/jquery/dist/jquery.min.js' %}"></script>
    {% block users_scripts %}

    {% endblock %}
    <script type="text/javascript" src="{% static 'libs/adminlte/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/adminlte/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/adminlte/plugins/timepicker/bootstrap-timepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/adminlte/plugins/iCheck/icheck.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/adminlte/bower_components/select2/dist/js/select2.full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/adminlte/bower_components/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/img-area-select/jquery.imgareaselect.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/adminlte/dist/js/adminlte.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/context-menu/BootstrapMenu.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/shadowbox/shadowbox.js' %}"></script>
    <script type="text/javascript" src="https://api-maps.yandex.ru/2.1.42/?lang=ru_RU"></script>
    <script type="text/javascript" src="{% static 'libs/jquery-cookie/jquery.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}?v=0006"></script>
</html>