<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <ul class="breadcrumb">
      <li>Выбранные категории: <span class="filter-active-params">
          {{ categories_str }}
      </span>
      </li>
        <li>Начиная с: <span class="filter-active-params">{{ meeting_data }}</span></li>
        <li>Время начала с: <span class="filter-active-params">{{ time_begin }}</span></li>
    </ul>
</div>