<div class="modal fade in" id="modal-filter">
    <div class="modal-dialog">
        <form action="/events/" class="filter-form" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Настройки фильтра</h4>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="form-group field-filter-category">
                        <label class="control-label"
                               for="{{ filter_form.category.id_for_label }}">{{ filter_form.category.label }}</label>
                        {{ filter_form.category }}
                    </div>
                    <div class="form-group field-filter-meeting_date">
                        <label class="control-label"
                               for="{{ filter_form.meeting_date.id_for_label }}">{{ filter_form.meeting_date.label }}</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                            {{ filter_form.meeting_date }}
                        </div>
                    </div>
                    <div class="bootstrap-timepicker">
                        <div class="form-group field-filter-time_begin">
                            <label class="control-label"
                                   for="{{ filter_form.time_begin.id_for_label }}">{{ filter_form.time_begin.label }}</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                {{ filter_form.time_begin }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary pull-left">Показать</button>
                </div>
            </div>
        </form>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>