<form action="/events/" class="sidebar-filter filter-form" method="post">
    {% csrf_token %}
    <ul class="sidebar-menu" data-widget="tree">
        <li class="header">Категория</li>
        <!-- Optionally, you can add icons to the links -->
        <li>
            {{ filter_form.category }}
        </li>
        <li class="header">Дата</li>
        <!-- Optionally, you can add icons to the links -->
        <li>
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                {{ filter_form.meeting_date }}
            </div>
        </li>
        <li class="header">Время</li>
        <li>
            <div class="bootstrap-timepicker">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-clock-o"></i></div>
                    {{ filter_form.time_begin }}
                </div>
            </div>
        </li>
        <li>
            <button class="btn btn-block btn-sm" style="width: 50%;margin-top:22px; float: right">Показать</button>
        </li>
    </ul>
</form>
